<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>commentDeleteService</servlet-name>
		<display-name>commentDeleteService</display-name>
		<description></description>
		<servlet-class>com.board.controller.commentDeleteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentUpdateService</servlet-name>
		<display-name>CommentUpdateService</display-name>
		<description></description>
		<servlet-class>com.board.controller.CommentUpdateService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentService</servlet-name>
		<display-name>CommentService</display-name>
		<description></description>
		<servlet-class>com.board.controller.CommentService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardDeleteService</servlet-name>
		<display-name>BoardDeleteService</display-name>
		<description></description>
		<servlet-class>com.board.controller.BoardDeleteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardSuggest</servlet-name>
		<display-name>BoardSuggest</display-name>
		<description></description>
		<servlet-class>com.board.controller.BoardSuggest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardUpdateService</servlet-name>
		<display-name>BoardUpdateService</display-name>
		<description></description>
		<servlet-class>com.board.controller.BoardUpdateService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardShowService</servlet-name>
		<display-name>BoardShowService</display-name>
		<description></description>
		<servlet-class>com.board.controller.BoardShowService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>boardController</servlet-name>
		<display-name>boardController</display-name>
		<description></description>
		<servlet-class>com.board.controller.boardController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardWriteService</servlet-name>
		<display-name>BoardWriteService</display-name>
		<description></description>
		<servlet-class>com.board.controller.BoardWriteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardSearchService</servlet-name>
		<display-name>BoardSearchService</display-name>
		<description></description>
		<servlet-class>com.board.controller.BoardSearchService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Frontcontroller</servlet-name>
		<display-name>Frontcontroller</display-name>
		<description></description>
		<servlet-class>com.smhrd.frontcontroller.Frontcontroller</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<display-name>Delete</display-name>
		<description></description>
		<servlet-class>com.main.controller.Delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Join</servlet-name>
		<display-name>Join</display-name>
		<description></description>
		<servlet-class>com.main.controller.Join</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.main.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.main.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Update</servlet-name>
		<display-name>Update</display-name>
		<description></description>
		<servlet-class>com.main.controller.Update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatRoomService</servlet-name>
		<display-name>ChatRoomService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.ChatRoomService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateChatService</servlet-name>
		<display-name>CreateChatService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.CreateChatService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendChatService</servlet-name>
		<display-name>SendChatService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.SendChatService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploaditemService</servlet-name>
		<display-name>uploaditemService</display-name>
		<description></description>
		<servlet-class>com.item.controller.uploaditemService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoveChatRoomService</servlet-name>
		<display-name>MoveChatRoomService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MoveChatRoomService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>itemSearchService</servlet-name>
		<display-name>itemSearchService</display-name>
		<description></description>
		<servlet-class>com.item.controller.itemSearchService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadBargainService</servlet-name>
		<display-name>uploadBargainService</display-name>
		<description></description>
		<servlet-class>com.item.controller.uploadBargainService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowNewsService</servlet-name>
		<display-name>ShowNewsService</display-name>
		<description></description>
		<servlet-class>com.news.controller.ShowNewsService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateChatService2</servlet-name>
		<display-name>CreateChatService2</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.CreateChatService2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>itemViewUpService</servlet-name>
		<display-name>itemViewUpService</display-name>
		<description></description>
		<servlet-class>com.item.controller.itemViewUpService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>commentDeleteService</servlet-name>
		<url-pattern>/commentDeleteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentUpdateService</servlet-name>
		<url-pattern>/CommentUpdateService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentService</servlet-name>
		<url-pattern>/CommentService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardDeleteService</servlet-name>
		<url-pattern>/BoardDeleteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardSuggest</servlet-name>
		<url-pattern>/BoardSuggest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardUpdateService</servlet-name>
		<url-pattern>/BoardUpdateService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardShowService</servlet-name>
		<url-pattern>/BoardShowService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardWriteService</servlet-name>
		<url-pattern>/BoardWriteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>boardController</servlet-name>
		<url-pattern>/boardController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardSearchService</servlet-name>
		<url-pattern>/BoardSearchService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Frontcontroller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Join</servlet-name>
		<url-pattern>/Join</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatRoomService</servlet-name>
		<url-pattern>/ChatRoomService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateChatService</servlet-name>
		<url-pattern>/CreateChatService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendChatService</servlet-name>
		<url-pattern>/SendChatService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploaditemService</servlet-name>
		<url-pattern>/uploaditemService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoveChatRoomService</servlet-name>
		<url-pattern>/MoveChatRoomService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>itemSearchService</servlet-name>
		<url-pattern>/itemSearchService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadBargainService</servlet-name>
		<url-pattern>/uploadBargainService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowNewsService</servlet-name>
		<url-pattern>/ShowNewsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateChatService2</servlet-name>
		<url-pattern>/CreateChatService2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>itemViewUpService</servlet-name>
		<url-pattern>/itemViewUpService</url-pattern>
	</servlet-mapping>

</web-app>
